.breadcrumbs {
  padding-top: 105px;
  padding-bottom: 45px;

  & a {
    font-size: 1.4rem;
    line-height: 22px;
    color: $primary;
  }

  & span {
    font-size: 1.4rem;
    color: #b7b7b7;
  }
}

.breadcrumb {
  &Sep {
    font-size: 1.4rem;
    color: #b7b7b7;
    margin: 0 5px;
  }
}
