.page-news {
  &__title {
    position: relative;
  }
  &__backTitle {
    position: absolute;
    left: 0;
    z-index: -1;
    top: -100%;
    transform: translateY(50%);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }
  &__tabs {
    display: flex;
    align-items: center;
  }
  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid #ededed;
    background: #fff;
    font-weight: 700;
    font-size: 1.7rem;
    color: #000;
    box-shadow: 0px 34px 39px rgba(0, 0, 0, 0.05);
    transition: 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: $secondary;
      color: #fff;
    }

    &:hover {
      background: $secondary;
      color: #fff;
    }
  }
  &__content {
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: 0.5s;
    &--disabled {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
    & .newsItem {
      margin-bottom: 30px;
    }
  }
}
