.partners {
  background: #fff;
  padding-top: 100px;

  &TopBlock {
    margin-bottom: 65px;
  }

  &__item {
    position: relative;
  }

  &Vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    & span {
      width: 3px;
      margin-bottom: 6px;
      background: $secondary;
      &:first-child {
        height: 66px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        height: 8px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    &Sup {
      font-weight: 500;
      font-size: 2rem;
      line-height: 26px;
      color: $secondary;
    }
  }
  &__desc {
    font-size: 1.8rem;
    line-height: 28px;
    color: #4f4f4f;
    padding-left: 18px;
  }
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  height: 160px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 34px 39px rgba(0, 0, 0, 0.05);
  }
}
